version: '3.8'

networks:
  medcheckapi-network:

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - USER_DATABASE_DEV=postgres
      - HOST_DATABASE_DEV=postgres
      - DB_DATABASE_DEV=medCheckApi
      - PS_DATABASE_DEV=1234
      - PORT_DATABASE_DEV=5432
    depends_on:
      - postgres
    networks:
      - medcheckapi-network
    mem_limit: 512m
    cpus: 0.5

  postgres:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: medCheckApi
    ports:
      - "5433:5432"
    networks:
      - medcheckapi-network
    mem_limit: 512m
    cpus: 0.5
    volumes:
      - ./backend/src/med_check_api.backup:/docker-entrypoint-initdb.d/med_check_api.backup
      - ./backend/src/restores.sh:/docker-entrypoint-initdb.d/restores.sh

